.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(135deg, #153677, #ffffff);
  color: white;
  font-family: "poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(31, 21, 78);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
  cursor: pointer;
}
nav ul li a{
  text-decoration: none;
  color: white;
}
nav ul li a:hover{
  color: rgb(186, 30, 197);
  font-size: 1.1rem;
}

.left {
  font-size: 1.5rem;
}

.firstsection {
  display: flex;
  justify-content: space-around;
  margin: 80px 0;
}

.firstsection > div {
  width: 531px;
}

.leftsection {
  font-size: 3rem;
  margin: 30px 0;
}

.rightsection img {
  width: 452px;
  height: 458px;
  margin-left: -137px;
  margin-top: -50px;
}

.purpule {
  color: blueviolet;
}

